
.ShowCars {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;

}

li {
    list-style-type: circle;
    margin: 16;
    padding: 15;
}

li {
    background-color: rgb(232, 240, 243);
    Font-size: 15px;
    Font-family: Georgia, "Times New Roman", Times, serif;;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 20px;
}

li:hover {
    color: cornflowerblue;
    transition: 0.6s;
    cursor: pointer;
}

.ShowCars button {
    display: block;
    padding: 0.5em 1em 0.5em 1em ;
    color: #FFF;
    background: #1abc9c;
    font-size: 15px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    cursor: pointer; 

}